@font-face {
   font-family: 'halenoir_compact_bold';
   font-display: swap;
   src: url('file:///Users/rodrigo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-05-20_145220/fonts/halenoir_compact_bold/font.ttf');
}
