@font-face {
   font-family: 'code_pro_bold_normal';
   font-display: swap;
   src: url('file:///Users/rodrigo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-05-20_145220/fonts/code_pro_bold_normal/font.ttf');
}
